* {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,
body {
    background-color: #fff;
    height: 100%;
    /*text-align: center;*/
    font-family: 'Josefin Sans', sans-serif;
}

section {
    background-color: #fff;
    /*height: 100%;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


}
section:after {
    content: "";
    display: block;
}
section > h1 {
    padding: 20px 0;
    font-size: 2em;
    color: #0d1617;
    text-align: center;
}
footer {
    height: 60px;
    background: #2c3e50;
    color: #eaeaea;
    text-align: center;
}
p {
    padding-top: 15px;
}
footer > h4 {
    padding: 1.5em 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}
input {
    width: 90%;
}
ul {
    list-style-type: none;
}

/* Navigation*/
.top-nav a{
	text-decoration: none;
	color: #838994;
}

.top-nav a:hover{
	color: #2c3e50;
}

.top-nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid #ddd;
    z-index: 99;
}
.top-nav .logo {
    height: 4.375rem;
}
.top-nav >.content {
    height: 2.375rem;
}
.top-nav .links {
    text-align: center;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.1rem;
}
.top-nav .links li {
    display: inline-block;
    padding-left: 2.563rem;
}
.top-nav .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-nav .links li:hover {
    cursor: pointer;
    color: #333;
}

/*logo area*/
.logo-contain {
    position: absolute;
    background: url("../img/round2.png");
    width: 160px;
    height: 101px;
    top: 1.295rem;
    left: 10%;
    margin-left: -2rem;
    text-align: center;
    z-index: 100;
}
.logo-contain > img {
    vertical-align: middle;
    cursor: pointer;
}

/*Cover photo area*/
.intro {
    background-image: url('../img/sitefront.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;
}
.intro h1,
h3,
h4 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}
.intro h1 {
    margin-top: 22.5rem;
    font-size: 3.125rem;
}
.intro h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.intro > .content {
    margin: 0 auto;
}

/*about me section*/
.myDescript,
.projects {
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
}
.myDescript h1,
.myDescript h3,
.projects h1,
.projects h3,
.contact h1,
.contact h3 {
    color: #2c3e50;
    text-align: center;
    font-weight: 300;
}
.myDescript h1,
.projects h1,
.contact h1,
{
    padding-top: 2rem;
}
.myDescript > img {
    display: block;
    padding-top: 2rem;
    border-radius: 50%;
    margin: 0 auto;
}
.myDescript p {
    font-size: 1.5rem;
    padding: 2rem 0 4.5rem;
}
.space {
    padding: 0 1rem;
}

/*Portfolio hover effects*/
.col-4 {
    width: 33.333%;
    float: left;
    display: inline-block;
}

@media (max-width:1300px){
    .col-4{
        width: 50%;
        float: left;
        padding: 5%;
        display: inline-block;
    }
}
.col-6{
    width: 50%;
    float: left;
    display: inline-block;
}

.project-contain {
    width: 300px;
    height: 460px;
    position: relative;
    background: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #2c3e50;
    box-shadow: inset 0 0 0 8px #2c3e50;
    -webkit-transition: background 0.4s 0.5s;
    transition: background 0.4s 0.5s;
}
.project-contain:hover {
    background: rgba(255, 255, 255, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.projects > h1 {
    padding-bottom: 4.5rem;
}
.project-contain h3 {
    font-family: 'Pacifico', cursive;
    font-size: 3.4rem;
    line-height: 24rem;
    margin: 0;
    font-weight: 400;
    width: 100%;
}
.project-contain span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px;
    margin: 0 0 0 1rem;
}
.project-contain h3,
.project-contain span {
    -webkit-transition: color 0.4s 0.5s;
    transition: color 0.4s 0.5s;
}
.project-contain:hover h3,
.project-contain:hover span {
    color: #58bf28;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.project-contain svg {
    position: absolute;
    top: 0;
    left: 0;
}
.project-contain svg line {
    stroke-width: 8;
    stroke: #ecf0f1;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.project-contain:hover svg line {
    stroke: #58bf28;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.project-contain svg line.top,
.project-contain svg line.bottom {
    stroke-dasharray: 330 240;
}
.project-contain svg line.left,
.project-contain svg line.right {
    stroke-dasharray: 490 400;
}
.project-contain:hover svg line.top {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
}
.project-contain:hover svg line.bottom {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
}
.project-contain:hover svg line.left {
    -webkit-transform: translateY(920px);
    transform: translateY(920px);
}
.project-contain:hover svg line.right {
    -webkit-transform: translateY(-920px);
    transform: translateY(-920px);
}
section:after {
    clear: both;
    display: block;
    content: "";
}

/*Portfolio expand*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(44,62,80);  
    overflow-x: hidden;
    transition: 0.5s; 
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%;
    width: 80%;
    margin: 30px auto 0; 
    color: #fff;
    font-size: 20px;

}
.overlay-content h4{
    text-align: left;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay-image{
    width: 50%;
    display: block;
    margin: 10px auto;
}

.overlay h3{
    font-family: 'Pacifico', cursive;
    font-size: 3.4rem;
    line-height: 7rem;
    margin: 0;
    text-align: center;
    font-weight: 400;
}

.project-description {
    padding-top: 20px;
}
.project-description p{
    font-size: 20px;
}
.project-description ul{
    padding: 15px;
}
.project-description li{
    font-size: 45px;
}
/*Contact Area*/
.contact {
    background-color: #eaeaea;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}
.social {
    text-align: center;
}
.social li {
    display: inline-block;
    padding: 1.5rem;
}
.social i {
    font-size: 3.5rem;
    color: #2c3e50;
}
.contact p {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
.contact h3 {
    font-size: 2.5rem;
    color: #58bf28;
}

/*Social Icons*/
i:hover {
    color: #58bf28;
}
